/* line 50, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.card-1 {
  width: 200px;
  height: 200px;
  background-color: yellow;
  float: left;
  margin-right: 20px;
}

/* line 50, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.card-2 {
  width: 200px;
  height: 200px;
  background-color: lime;
  float: left;
  margin-right: 20px;
}

/* line 50, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.card-3 {
  width: 200px;
  height: 200px;
  background-color: cyan;
  float: left;
  margin-right: 20px;
}

/* line 50, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.card-4 {
  width: 200px;
  height: 200px;
  background-color: blue;
  float: left;
  margin-right: 20px;
}

/* line 58, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
body {
  background-image: url("../img/fondo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 62, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.container {
  margin-left: 20%;
}

/* line 66, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
header {
  background-image: url("../img/fondo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
}

/* line 71, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
header h1 {
  color: #fd0a0a;
  margin: 0;
}

/* line 76, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
nav {
  background-image: url("../img/fondo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 83, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

/* line 88, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
nav ul li {
  margin-left: 15%;
}

/* line 90, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
nav ul li a {
  display: block;
  padding: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

/* line 27, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
nav ul li a:hover {
  cursor: pointer;
}

/* line 95, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
nav ul li a:hover {
  background-color: #333;
}

/* line 10, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
nav ul::after {
  content: "";
  clear: both;
  display: table;
}

/* line 103, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.texto {
  color: white;
}

/* line 106, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: #eee;
}

/* line 114, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.container1 .box {
  width: 30%;
  height: 80%;
  color: #ffffff;
  background-color: #ddd;
}

/* line 121, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
main {
  padding: 20px;
  text-align: center;
}

/* line 124, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
main h2 {
  color: red;
  margin: 0;
}

/* line 129, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
main h2:hover {
  color: #ffffff;
}

/* line 132, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
main .p2 {
  color: white;
}

/* line 138, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
main .p3 {
  color: white;
}

/* line 142, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
main .zoom {
  transition: transform .2s;
}

/* line 146, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
main .zoom:hover {
  transform: scale(1.2);
}

/* line 149, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
main .img1,
main .img2,
main .img3,
main .img4,
main .img5,
main .img6 {
  width: 200px;
  height: 200px;
}

/* line 159, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

/* line 27, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
button:hover {
  cursor: pointer;
}

/* line 171, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-action {
  background-color: #f44336;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* line 179, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-action:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 171, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-comedy {
  background-color: #4caf50;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* line 179, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-comedy:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 171, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-drama {
  background-color: #2196f3;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* line 179, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-drama:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 171, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-romance {
  background-color: #ffc107;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* line 179, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-romance:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 171, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-thriller {
  background-color: #9c27b0;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* line 179, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-thriller:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 185, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-accion {
  background-color: #f44336;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 190, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-accion:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 195, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-comedia {
  background-color: #4caf50;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 200, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-comedia:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 204, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-drama {
  background-color: #2196f3;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 208, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-drama:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 214, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-romance {
  background-color: #ffc107;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 218, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-romance:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 223, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-thriller {
  background-color: #9c27b0;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 227, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.genre-thriller:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 232, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.contact-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

/* line 237, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.contact-form h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

/* line 242, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #6c6a6a;
  border-radius: 10px;
}

/* line 250, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.contact-form form label, .contact-form form input[type="submit"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
}

/* line 257, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.contact-form form input[type="text"], .contact-form form input[type="email"], .contact-form form textarea {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* line 266, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.contact-form form textarea {
  height: 120px;
}

/* line 270, C:/Users/pepe1/OneDrive/Escritorio/Proyecto-Sass/sass/style.scss */
.contact-form form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */